body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: #2E2F42;
    background-color: none;
}
h2 {
    font-size: 36px;
    font-weight: 700;
}
h3 {
    font-size: 20px;
    font-weight: 500;
}
p {
    font-size: 16px;
    font-weight: 400;
}
button {
    cursor: pointer;
}